/* =============
    Navigation
============= */
#nav-container {
    
    padding: 15px;
    
    @include md{
        display: none; 
    }
    @include lg {
        display: none;
    }
    @include xl {
        display: none;
    }
    ul {
        // position: relative;
        // transform: translateX(70%);
        

        list-style-type: none;
        height: 100%;
        // align-items: center;
        text-align: center;
        width: 100%;
       
       

        @include lg {
            display: flex;
            justify-content: center;
        }

        li {
          
        
            @include lg {
                align-items: center;
                display: flex;
                margin: 0px 15px;
            }

            a:link,
            a:visited {
                padding: 10px 0px;
                color: $white;
                transition: 0.25s;
                width: 100%;
                
            }

            a:hover,
            a:active {
                background-color: $dark-purple;
            
            }
        }
    }
}