/* ===================
    Video Player
=================== */
.video-wrapper {
	position: relative;
	padding-bottom: 75%;
	/* 4:6 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widescreen {
	padding-bottom: 56.25%;
	/* 16:9 */
}

/* ===================
    End Video Player
=================== */